*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 300px;
    background-color: aqua;
}

main{
    background-color: rgb(76, 218, 100);
}

.conteiner{
    margin: auto;
    width: 80%;
    
}

nav{ 
    height: 50px;
    background-color: gray;
    justify-content: space-between;
    display: flex;
}

.nav-lt{
    background-color: red;
    align-items: stretch;
    flex-basis: 15%;
}

.nav-cen{
    flex-basis: 50%;
    background-color: rgb(14, 14, 13);
    align-items: stretch;
}

.titolo{
    margin: auto;
    width: 50%;
    background-color: orange;
    height: 250px;
}
.box{
    height: 210px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
    
}

.box-dx{
    flex-basis: 45%;
    background-color: rgb(14, 14, 13);
    align-items: stretch;
}

.box-sx{
    flex-basis: 45%;
    background-color: rgb(28, 82, 99);
    align-items: stretch;
    
}

.box-cl{
flex-direction: column;
}

.box-column{
    flex-basis: 30%;
    justify-content: space-between;    
}

.cl-top, .cl-botton{
    background-color: rgb(12, 161, 62);
}

.center{
    background-color: blue;
}

.footer-top{
    height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    
    

}

.footer-column-orange {
    flex-basis: 15%;
    background-color: orange;
    

}

.footer-column-green {
    flex-basis: 30%;
    background-color: rgb(16, 109, 31);
}


.footer-botton
{
    background-color:red ;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-dx, .footer-sx{
    flex-basis: 20%;
    justify-content: space-between;
    background-color: yellow;
}

footer{
    background-color: gray;
}

